* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
  color: aliceblue;
}

html,
body {
  height: 100%;
  width: 100%;
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
  padding: 0 30px;
}

#nav {
  height: 100px;
  width: 100%;
  border-bottom: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav2 {
  display: flex;
  gap: 50px;
  align-items: center;
}
#nav h3 {
  text-transform: uppercase;
  font-weight: 400;
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
}

#nav h1 {
  text-transform: uppercase;
  font-weight: 500;
}

#container {
  height: 80%;
  width: 100%;
  /* background-color: red; */
  position: relative;
  display: flex;
}

#left {
  height: 100%;
  width: 50%;
  /* background-color: aqua; */
  padding: 150px 50px;
}

#left h1 {
  font-size: 80px;
  font-weight: 500;
  line-height: 110px;
  text-transform: uppercase;
}

#left h1:nth-last-child(1) {

margin-left: 40px;}

#left h1 span img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: -40px;
    border: 3px solid black;
  }

#left h1 span img :nth-child(1) {
    margin-left: 0;
}




#right {
  height: 100%;
  width: 50%;
  /* background-color: blue; */
  padding: 150px 50px;
}

#right img {
  height: 90%;
  width: 90%;
  object-fit: cover;
  border-radius: 10px;
  overflow: hidden;
}

#page2 {
  height: 100%;
  width: 100%;
  padding: 0 50px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-evenly;
}

#box {
  height: 250px;
  width: 400px;
  margin: auto;
  border: 2px solid white;
  border-radius: 15px;
  align-items: center;
  text-align: center;
  padding: 30px;
}

#box h1 {
  margin-bottom: 30px;
  font-size: 30px;
}
