*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
    color: aliceblue;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
}

#nav{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

#nav-part2{
    display: flex;
    gap: 60px;
}

#nav-part3{
    display: flex;
    gap: 60px;
    align-items: center;
}


img{
    height: 65px;
}

#nav h3{
    text-transform: uppercase;
}

#nav h4{
    text-transform: uppercase;
}

#nav button{
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    border: none;
    font-weight: 700;
    font-size: 16px;
}

#main h1{
    font-size: 100px;
    font-weight: 800px;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.txt{
margin-top: 180px;
}

#main h1 span{
background-color: #721616;
font-size: 30px;
padding: 20px 40px;
margin: 0 30px;
border-radius: 25px;
}

#main #left-img{
    height: 250px;
    position: absolute;
    top: 14%;
    left: 7%;
    border-radius: 15px;
}


#main #right-img{
    height: 250px;
    position: absolute;
    bottom: 14%;
    right: 7%;
    border-radius: 15px;
}

h5{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 25px;
    
}