* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Gilroy", sans-serif; */
  color: aliceblue;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: black;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: salmon;
    display: flex;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(44, 180, 173);
    display: flex;
}
#page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(21, 207, 15);
    display: flex;
}

#box{
  height: 300px;
  width: 300px;
  background-color: white;
  margin: auto;
}
